@font-face {
  font-family: hello;
  src: url(NeueHaasDisplayMediu.ttf);
}

* {
  font-family: hello;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
}


html,
body {
  overflow-x: hidden;
}

main {
  overflow: hidden;
   background-color: #f6efe6;
}

.page-one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4vh 3vw;
  height: 100vh;
  position: relative;
  background-color: #f6efe6;
}

.hidden{
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  margin: -4vh -3vw;
  z-index: 13;
  top: -100%;
  transition: all ease 0.2s;
}

.menu-nav{
  height: 50vh;
  width: 100vw;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  margin: -4vh -3vw;
  z-index: 15;
  transition: all ease 0.5s;
  top: -100%;
  background-color: #f6efe6;
  border-radius: 15px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: aquamarine; */
  line-height: 0.9;
  position: relative;
  z-index: 16;
}

.nav-part2 #menu{
 display: none;
}

.logo img {
  height: 100px;
}

.logo {
  display: flex;
}

.circle {
  height: 15px;
  width: 15px;
  background-color: #507d73;
  border-radius: 50%;
  position: fixed;
  left: 9%;
  top: 11%;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  z-index: 15;
  pointer-events: none;
}

.nav-part2 {
  display: flex;
  align-self: flex-end;
  gap: 3vh;
}

a {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(104, 104, 104);
  padding: 5px;
  border-radius: 999px;
  width: 80px;
  height: 40px;
  color: rgba(0, 0, 0, 0.705);
  font-weight: 600;
  overflow: hidden;
  transition: all ease 0.4s;
}

.nav-part2 {
  /* background-color: bisque; */
  align-self: center;
}

.nav-part2 a::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  bottom: -103%;
  transition: all ease 0.4s;
  border-radius: 50%;
}

.nav-part2 a:hover::after {
  bottom: 0;
  border-radius: 0;
}

.nav-part2 a p {
  z-index: 9;
}

.nav-part2 a:hover p {
  color: #f6efe6;
}

.center {
  padding-bottom: 2vh;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.right h1 f {
  color: #507d73;
}

.left {
  font-size: 1.8vw;
  width: 30vw;
  font-weight: 600;
  font-family: 'Gill Sans';
}

.right {
  font-weight: 600;
  width: 50vw;
  font-size: 6vw;
  text-align: right;
  line-height: 0.8;
}

/* .page-two________________________- */

.page-two {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #f6efe6;
}

.page-two .video-container {
  position: relative;
  height: 95%;
  width: 95%;
  border-radius: 30px;
  overflow: hidden;
  display: block;
}

.page-two .video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#animated-box1 {
  width: 40vw;
  height: 75vh;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  position: absolute;
  right: 0;
  top: -11%;
  background-color: #507d73;
  filter: blur(10px);
}

.el1 {
  position: absolute;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  background-color: #507d73;

  animation: anim1 3s linear alternate infinite;
  filter: blur(10px);
}

.el2 {
  position: absolute;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  background-color: #507d73;
  animation: anim2 4s linear alternate infinite;
  filter: blur(10px);
}

.el3 {
  position: absolute;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  background-color: #507d73;
  animation: anim3 5s linear alternate infinite;
  filter: blur(10px);
}

@keyframes anim1 {
  from {
    transform: translate(30%, -10%);
  }
  to {
    transform: translate(-20%, 20%);
  }
}

@keyframes anim2 {
  from {
    transform: translate(-10%, 10%);
  }
  to {
    transform: translate(10%, -10%);
  }
}

@keyframes anim3 {
  from {
    transform: translate(100%, -40%);
  }
  to {
    transform: translate(100%, -0%);
  }
}

/* .page-three------------------------ */

.page-three {
  width: 100vw;
  max-height: 100vh;
  background-color: #f6efe6;
}

.moving-container {
  width: 100vw;
  height: 25vh;
  gap: 20px;
  white-space: nowrap;
  overflow-x: auto;
}

.moving-container::-webkit-scrollbar {
  display: none;
}

.dot {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: #507d73;
  display: inline-block;
  margin: 1vw 3vw;
}

.moving-container .box1 h1 {
  display: inline-block;
  font-size: 17vh;
}

.box1 {
  display: inline-block;
  white-space: nowrap;
  animation: scrolleffect 10s linear alternate infinite;
  margin-left: 20px;
}

@keyframes scrolleffect {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-60%);
  }
}

.page-threepart2 {
  width: 100vw;
 max-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text-box {
  margin-top: 1vh;
  font-weight: 100px;
  height: 80%;
  width: 50vw;
  font-size: 1.5vw;
  position: relative;
}
.text-box2 {
  margin-top: 3vw;
  height: 30vw;
  width: 30vw;
  position: relative;
  transition: transform 0.3s ease;
  object-fit: cover;
}

#about {
  color: #36534c;
  font-size: 4vw;
}

.about-container {
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: space-between;
}

#about_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
  border: 3px solid #507d73;
  object-position: center;
}

.text-box2:hover {
  transform: scale(1.1);
}

.animeted-box2 {
  width: 250px;
  height: 300px;
  position: absolute;
  filter: blur(10px);
  border-radius: 50%;
  top: 30%;
  left: 50%;
}

.animeted-box2 .element1 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  background: linear-gradient(#507d73, #a3a49e);
  filter: blur(10px);
  animation: animation-two 7s linear alternate infinite;
}

.animeted-box2 .element2 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  background-color: #507d73;
  filter: blur(10px);
  animation: animation-three 5s linear alternate-reverse infinite;
}

#about1 {
  position: relative;
  z-index: 10;
}

@keyframes animation-two {
  from {
    transform: translatex(-20%);
  }
  to {
    transform: translatex(20%);
  }
}

@keyframes animation-three {
  from {
    transform: translateY(-20%);
  }
  to {
    transform: translateY(20%);
  }
}

.worked {
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0vw 4vw;
  font-size: 2vw;
  gap: 1vh;
}


.dot_ {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #507d73;
  display: inline-block;
}

/* page-four----------------------- */

.page-four {
  margin-top: 10vh;
  width: 100vw;
  min-height: 100vh;
  background-color: #f6efe6;
}

.bar {
  height: 20vh;
  width: 100vw;
  display: flex;
  align-items: center;
  font-size: 2vw;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid rgba(41, 40, 40, 0.703);
}

.bar img{
  display: none;
}

#bar_one {
  border-top: 1px solid rgba(41, 40, 40, 0.703);
}

.bar::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #507d73;
  position: absolute;
  top: -100%;
  transition: all ease-in 0.2s;
}

.bar:hover::after {
  top: 0%;
}

.bar:hover {
  color: #f6efe6;
}

.bar h1 {
  font-size: 30px;
  padding: 0vw 3vw;
  position: relative;
  z-index: 5;
}
.bar p{
  display: none;
  position: absolute;
  top: 10%;
  left: 15%;
  width: 60%;
  height: 50%;
  font-size: 13px;
  z-index: 5;
}

.fixed {
  height: 55vh;
  width: 40vw;
  position: fixed;
  z-index: 15;
  left: 45%;
  top: 20%;
  display: none;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  border: 2px solid #507d73;
  pointer-events: none;
}

.allwork {
  width: 150px;
  height: 50px;
  position: relative;
  border: 1px solid black;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0vw 3vw;
  overflow: hidden;
  margin-top: 2vw;
  margin-bottom: 3vw;
}

.allwork::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  bottom: -103%;
  transition: all ease 0.4s;
  border-radius: 50%;
}

.allwork:hover::after {
  bottom: 0%;
  border-radius: 0%;
}

.allwork:hover p {
  color: #f6efe6;
  position: relative;
  z-index: 15;
}

.allwork i {
  margin: 0px 5px;
}




/* contactus----- */

.footer {
  min-height: 60vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0%;
  left: 0%;
  color: #f6efe6;
    background-color: #507d73;
}
.contact-form {
  width: 95vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 0%;
  justify-content: space-evenly;
  background-color: #507d73;
}
.right_form {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  gap: 5px;
}

.right_form h1 {
  font-size: 7vw;
}
.right_form div{
  margin-left: 20px;
}
.right_form h3 {
  margin-left: 5px;
}

.right_form h4 {
  font-size: 15px;
}
.social div {
  display: flex;
  gap: 10px;
  margin-left: 5px;
}

.social div a {
  background-color: #f6efe6;
  height: 40px;
  width: 40px;
  margin-top: 5px;
  font-size: 20px;
}

.left_form {
  height: 90%;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 2vh;

}

.left_form .name-email {
  display: flex;
  gap: 10px;
  width: 100%;
}

.left_form h3 {
  font-size: 15px;
  font-weight: 300;
}

.left_form h4 {
  font-size: 4vw;
}



.name_input {
  width: 15vw;
  height: 5vh;
  border-radius: 10px;
  border: 0px;
}

.email_input {
  width: 15vw;
  height: 5vh;
  border-radius: 10px;
  border: 0px;
}
#textarea {
  height: 15vh;
  width: 31vw;
  border-radius: 10px;
}

.massage {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.submitbtn {
  height: 30px;
  width: 100px;
  border-radius: 10px;
  border: 0px;
  margin-bottom: 5vh;
}
.submitbtn i{
  margin-left: 1vw;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.email {
  margin-top: -1.5vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* //SWIPER SKILLS */

.page-five {
  padding: 2vw;
  height: 65vh;
  margin: 5vh 0vh;
  width: 100vw;
  background-color: #f6efe6;
  
}
.page-five h1{
  margin: 4vh 4vw;
  font-size: 25px;
  font-weight: 200;
}

  .swiper {
      width: 100%;
      height: 70%;
  
    }

    .swiper-slide {
      width: 80%;
      height: 85%;
      text-align: center;
      font-size: 15px;
      display: flex;
      flex-direction: column;
      text-align: left;
      gap: 10px;
      border-right: 1px solid rgba(0, 0, 0, 0.537);
    }

    .swiper-wrapper{
      position: absolute;
      left: -30%;
    
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

      .swiper-slide {
      width: 30%;
    }

    .skills-logo{
      height: 75px;
      width: 75px;

    }

    .swiper-slide p{
      width: 95%;
      height: 50%;
    }

/* responive_________ */
@media (max-width:600px) {

  .nav-part2 #menu{
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.circle{
  display: none;
}

  .nav-part2 a{
  display: none;
}

.logo img {
  height: 70px;
  transition: all ease 0.5s;
}

.page-one {
  margin-top: -2vh;
}
nav a{
    width: 80px;
  height: 30px;
  font-size: 15px;
}

nav a i{
  font-size: 13px;
  align-self: center;
  margin-right: 5px;
}

.menu-nav{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.menu-nav button{
  border: 0px;
  background-color: #f6efe6;
  font-size: 50px;
  text-align: right;
}
.menu-nav #btn1{
  font-size:45px;
}

.menu-nav #btn2{
  font-size: 50px;
}

.center {
  padding:4vh 2vh;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
}


.left {
  height: 40%;
  font-size: 5vw;
  width: 50vw;
  font-weight: 600;
 align-self: start;
}

.right {
  padding: 1vh;
   color: #f6efe6;
  font-weight: 600;
  width: 100vw;
  font-size: 10vw;
  line-height: 1;
  text-align: right;
  background-color: #507d73;
}



.page-two {
  height: 70vh;
  width: 100vw;
}


.page-two .video-container {
  height: 99%;
  width: 95%;
  margin-top: -50px;
}

.page-two .video-container video {
  height: 100%;
  width: 100%;
}

#animated-box1 {
  width: 50vw;
  height: 30vh;
  top: -10%;
}



.el2 {
  background:linear-gradient(#507d73,#b4cdc7);
}


.about-container {
  flex-direction: column-reverse;
   width: 90vw;
   height: 70%;
   justify-content: center;
   align-items: center;
  
 
}

.page-three {
  width: 100vw;
  height: 90vh;
}

.text-box {
  margin-top: 0vh;
  height: 70%;
  width: 90%;
  font-size: 4vw;
}

.text-box2 {
  margin-top: 0vh;
  height: 55vw;
  width: 55vw;
}

#about {
  color: #36534c;
  font-size: 4vw;
  margin: 2vh 0vh;
}


#about_img {
  height: 100%;
  border-radius: 50%;
}


.dot_ {
  width: 10px;
  height: 10px;
}

.worked {
  padding: 0vw 7vw;
  font-size: 5vw;

}

.fixed{
  z-index: -100;
}


.bar-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vh;
}

.bar h1 {
  position: absolute;
  z-index: 5;
  bottom: 8%;
  left: 10%;
  color: #f6efe6;
  text-shadow: 2px 2px 10px black;
   font-size: 20px;
  
}



.bar {
  height: 40vh;
  width: 85vw;
  border-bottom: 0px;
  border-radius: 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.454);
}

.bar img{
  display: block;
  height: 100%;
  width: 100%;
}

.allwork{
  justify-self: flex-start;
  align-self: flex-start;
  margin: 0vw 8vw;
}

.contact-form {
  width: 95%;
  height:95%;
  flex-direction:column;
  justify-content: space-evenly;
  gap: 20px;
}
.right_form{
  width: 100%;
   gap: 15px;
}

.right_form h1 {
  font-size: 15vw;
}

.right_form h4{
  display: inline;
  font-size: 15px;
}
.right_form h3{
  display:inline;
  font-size: 15px;
}
.right_form div{
  margin-left: 2vw;
}

.social h4{
  font-size: 6vw;
}

.social div {
  display: flex;
  gap: 15px;
  margin-top: 2vh;
}

.left_form {
  width: 90%;
  gap: 15px; 
   margin-left: 2vw;
}


.left_form .name-email {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.name-email .name{
  width: 50%;
}
.name-email .email{
  width: 50%;
}

.name_input{
  width: 100%;
}
.email_input{
  width: 100%;
}



#textarea {
  height: 20vh;
  width: 100%;
  border-radius: 10px;
}
.left_form h4{
   font-size: 6vw;
}

.page-five {
  padding: 2vw;
  height: 70vh;
  width: 100vw;
  background-color: #f6efe6;

}
 .swiper {
      width: 100%;
      height: 80%;
  }

  .swiper-slide {
      width: 250px;
      padding: 1vw;
      height: 80%;

   
  }

  .swiper-wrapper{
      position: absolute;
      left: -10%;
    
    }

}

@media (min-width:601px) and (max-width:1000px){

  .center {
  padding-bottom: 2vh;
  position: relative;
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  align-items: end;
}

.right h1 f {
  color: #507d73;
}

.left {
  font-size: 3vw;
  width: 40vw;
  height: 30vh;
  font-weight: 600;
  align-self: flex-start;
}

.right {
  font-weight: 600;
  width: 50vw;
  font-size: 7vw;
   color: #f6efe6;
  text-align: right;
  line-height: 1;
  background-color: #507d73;
  width: 100%;
}

  

  
  
}


